.is_txtAcenter {
  text-align: center;
}
.is_txtAleft {
  text-align: left;
}
.is_txtAright {
  text-align: right;
}
.is_lineThrough {
  text-decoration: line-through;
}
.is_Back_colorCode_1 {
  background-color: #e00729;
}
.is_Back_colorCode_5 {
  background-color: #ed5841;
}
.is_Back_colorCode_6 {
  background-color: #e8991f;
}
.is_Back_colorCode_2 {
  background-color: #0090c9 !important;
}
.is_bkc_blueB {
  background-color: #22deff;
}
.is_Back_colorCode_4 {
  background-color: #7146c6;
}
.is_bkc_purpleB {
  background-color: #eee6f6;
}
.is_bkc_purpleC {
  background-color: #c62b66;
}
.is_bkc_purpleD {
  background-color: #fdf1f6;
}
.is_bkc_clearBlue {
  background-color: clr_clearBlue;
}
.is_bkc_pinkA {
  background-color: #ec7aa5;
}
.is_bkc_pinkB {
  background-color: #fdf1f6;
}
.is_bkc_glayA {
  background-color: #5c5c5c;
}
.is_bkc_glayB {
  background-color: #ccc;
}
.is_bkc_glayD {
  background-color: #eee;
}
.is_bkc_white {
  background-color: #fff;
}
.is_bkc_black {
  background-color: #000;
}
.is_bkc_transparent {
  background-color: transparent !important;
}
.is_txt_redA {
  color: #b52739 !important;
}
.is_txt_colorCode_1,
.l_commentSpace h1 {
  color: #e00729 !important;
}
.is_txt_blue {
  color: #22deff !important;
}
.is_txt_colorCode_2 {
  color: #0090c9 !important !important;
}
.is_txt_colorCode_5 {
  color: #ed5841 !important;
}
.is_txt_colorCode_6 {
  color: #e8991f !important;
}
.is_txt_colorCode_4 {
  color: #7146c6 !important;
}
.is_txt_purpleB {
  color: #eee6f6 !important;
}
.is_txt_purpleC {
  color: #c62b66 !important;
}
.is_txt_purpleD {
  color: #fdf1f6 !important;
}
.is_txt_pinkA {
  color: #ec7aa5 !important;
}
.is_txt_pinkB {
  color: #fdf1f6 !important;
}
.is_txt_black {
  color: #000 !important;
}
.is_txt_grayA {
  color: #5c5c5c !important;
}
.is_txt_grayB {
  color: #ccc !important;
}
.is_txt_grayC {
  color: #fafafa !important;
}
.is_txt_grayE {
  color: #bbb !important;
}
.is_txt_white {
  color: #fff;
}
.bold,
.l_commentSpace h1 {
  font-weight: bold !important;
}
.block {
  display: block !important;
}
.inlineBlock {
  display: inline-block !important;
}
.is_ftSize_11 {
  font-size: 11px !important;
  line-height: 11px !important;
}
.is_ftSize_12 {
  font-size: 12px !important;
  line-height: 12px !important;
}
.is_ftSize_13 {
  font-size: 13px !important;
  line-height: 13px !important;
}
.is_ftSize_14 {
  font-size: 14px !important;
  line-height: 14px !important;
}
.is_ftSize_15 {
  font-size: 15px !important;
  line-height: 15px !important;
}
.is_ftSize_16 {
  font-size: 16px !important;
  line-height: 16px !important;
}
.is_ftSize_17 {
  font-size: 17px !important;
  line-height: 17px !important;
}
.is_ftSize_18 {
  font-size: 18px !important;
  line-height: 18px !important;
}
.is_ftSize_19 {
  font-size: 19px !important;
  line-height: 19px !important;
}
.is_ftSize_20 {
  font-size: 20px !important;
  line-height: 20px !important;
}
.is_ftSize_21 {
  font-size: 21px !important;
  line-height: 21px !important;
}
.is_ftSize_22 {
  font-size: 22px !important;
  line-height: 22px !important;
}
.is_ftSize_23 {
  font-size: 23px !important;
  line-height: 23px !important;
}
.is_ftSize_24 {
  font-size: 24px !important;
  line-height: 24px !important;
}
.is_ftSize_25 {
  font-size: 25px !important;
  line-height: 25px !important;
}
.is_mR0 {
  margin-right: 0px;
}
.is_mR1 {
  margin-right: 1px;
}
.is_mR2 {
  margin-right: 2px;
}
.is_mR5 {
  margin-right: 5px;
}
.is_mR10 {
  margin-right: 10px;
}
.is_mR15 {
  margin-right: 15px;
}
.is_mR20 {
  margin-right: 20px;
}
.is_mR30 {
  margin-right: 30px;
}
.is_mR40 {
  margin-right: 40px;
}
.is_mB0 {
  margin-bottom: 0px !important;
}
.is_mB5 {
  margin-bottom: 5px !important;
}
.is_mB10 {
  margin-bottom: 10px !important;
}
.is_mB15 {
  margin-bottom: 15px !important;
}
.is_mB20 {
  margin-bottom: 20px !important;
}
.is_mB30 {
  margin-bottom: 30px !important;
}
.is_mB40 {
  margin-bottom: 40px !important;
}
.is_mT0 {
  margin-top: 0px !important;
}
.is_mT2 {
  margin-top: 2px !important;
}
.is_mT5 {
  margin-top: 5px !important;
}
.is_mT10 {
  margin-top: 10px !important;
}
.is_mT15 {
  margin-top: 15px !important;
}
.is_mT20 {
  margin-top: 20px !important;
}
.is_mT25 {
  margin-top: 25px !important;
}
.is_mT30 {
  margin-top: 30px !important;
}
.is_mT35 {
  margin-top: 35px !important;
}
.is_mT40 {
  margin-top: 40px !important;
}
.is_mT50 {
  margin-top: 50px !important;
}
.is_mT60 {
  margin-top: 60px !important;
}
.is_mT70 {
  margin-top: 70px !important;
}
.is_mT80 {
  margin-top: 80px !important;
}
.is_mT90 {
  margin-top: 90px !important;
}
.is_mR0 {
  margin-right: 0px !important;
}
.is_mL1 {
  margin-left: 1px !important;
}
.is_mL2 {
  margin-left: 2px !important;
}
.is_mL10 {
  margin-left: 10px;
}
.is_mL5 {
  margin-left: 5px;
}
.is_mL10 {
  margin-left: 10px;
}
.is_MRL3 {
  margin-left: 3px;
  margin-right: 3px;
}
.is_MRL8 {
  margin-left: 8px;
  margin-right: 8px;
}
.is_MRL10 {
  margin-left: 10px;
  margin-right: 10px;
}
.is_MRL12 {
  margin-left: 12px;
  margin-right: 12px;
}
.is_pT0 {
  padding-top: 0 !important;
}
.is_pB40 {
  padding-bottom: 40px !important;
}
.is_pB30 {
  padding-bottom: 30px !important;
}
.is_pTB0 {
  padding: 0px 0 !important;
}
.is_pTB5 {
  padding: 5px 0 !important;
}
.is_pTB10 {
  padding: 10px 0 !important;
}
.is_pTB15 {
  padding: 15px 0 !important;
}
.is_pB0 {
  padding-bottom: 0 !important;
}
.is_pT0 {
  padding-top: 0 !important;
}
.is_pT5 {
  padding-top: 5 !important;
}
.is_padding15 {
  padding: 15px;
}
.adjust_top_0 {
  position: relative !important;
  top: 0px !important;
}
.adjust_top_1 {
  position: relative !important;
  top: -1px !important;
}
.adjust_top_2 {
  position: relative !important;
  top: -2px !important;
}
.adjust_top_3 {
  position: relative !important;
  top: -4px !important;
}
.adjust_top_4 {
  position: relative !important;
  top: -4px !important;
}
.adjust_top_5 {
  position: relative !important;
  top: -5px !important;
}
.adjust_top_6 {
  position: relative !important;
  top: -6px;
}
.adjust_top_7 {
  position: relative !important;
  top: -7px !important;
}
.adjust_top_8 {
  position: relative !important;
  top: -8px !important;
}
.adjust_top_9 {
  position: relative;
  top: -9px;
}
.adjust_top1 {
  position: relative !important;
  top: 1px !important;
}
.adjust_top2 {
  position: relative !important;
  top: 2px !important;
}
.adjust_top3 {
  position: relative !important;
  top: 3px !important;
}
.adjust_top4 {
  position: relative !important;
  top: 4px !important;
}
.adjust_top5 {
  position: relative !important;
  top: 5px !important;
}
.adjust_top-5 {
  position: relative !important;
  top: -5px !important;
}
.is_Back_colorCode_1 {
  background-color: #e00729;
}
.is_Back_colorCode_5 {
  background-color: #ed5841;
}
.is_Back_colorCode_6 {
  background-color: #e8991f;
}
.is_Back_colorCode_2 {
  background-color: #0090c9 !important;
}
.is_bkc_blueB {
  background-color: #22deff;
}
.is_Back_colorCode_4 {
  background-color: #7146c6;
}
.is_bkc_purpleB {
  background-color: #eee6f6;
}
.is_bkc_purpleC {
  background-color: #c62b66;
}
.is_bkc_purpleD {
  background-color: #fdf1f6;
}
.is_bkc_clearBlue {
  background-color: clr_clearBlue;
}
.is_bkc_pinkA {
  background-color: #ec7aa5;
}
.is_bkc_pinkB {
  background-color: #fdf1f6;
}
.is_bkc_glayA {
  background-color: #5c5c5c;
}
.is_bkc_glayB {
  background-color: #ccc;
}
.is_bkc_glayD {
  background-color: #eee;
}
.is_bkc_white {
  background-color: #fff;
}
.is_bkc_black {
  background-color: #000;
}
.is_bkc_transparent {
  background-color: transparent !important;
}
.is_txt_redA {
  color: #b52739 !important;
}
.is_txt_colorCode_1,
.l_commentSpace h1 {
  color: #e00729 !important;
}
.is_txt_blue {
  color: #22deff !important;
}
.is_txt_colorCode_2 {
  color: #0090c9 !important !important;
}
.is_txt_colorCode_5 {
  color: #ed5841 !important;
}
.is_txt_colorCode_6 {
  color: #e8991f !important;
}
.is_txt_colorCode_4 {
  color: #7146c6 !important;
}
.is_txt_purpleB {
  color: #eee6f6 !important;
}
.is_txt_purpleC {
  color: #c62b66 !important;
}
.is_txt_purpleD {
  color: #fdf1f6 !important;
}
.is_txt_pinkA {
  color: #ec7aa5 !important;
}
.is_txt_pinkB {
  color: #fdf1f6 !important;
}
.is_txt_black {
  color: #000 !important;
}
.is_txt_grayA {
  color: #5c5c5c !important;
}
.is_txt_grayB {
  color: #ccc !important;
}
.is_txt_grayC {
  color: #fafafa !important;
}
.is_txt_white {
  color: #fff;
}
.bold,
.l_commentSpace h1 {
  font-weight: bold !important;
}
.block {
  display: block !important;
}
.inlineBlock {
  display: inline-block !important;
}
.is_ftSize_10 {
  font-size: 10px !important;
  line-height: 10px !important;
}
.is_ftSize_11 {
  font-size: 11px !important;
  line-height: 11px !important;
}
.is_ftSize_12 {
  font-size: 12px !important;
  line-height: 12px !important;
}
.is_ftSize_13 {
  font-size: 13px !important;
  line-height: 13px !important;
}
.is_ftSize_14 {
  font-size: 14px !important;
  line-height: 14px !important;
}
.is_ftSize_15 {
  font-size: 15px !important;
  line-height: 15px !important;
}
.is_ftSize_16 {
  font-size: 16px !important;
  line-height: 16px !important;
}
.is_ftSize_17 {
  font-size: 17px !important;
  line-height: 17px !important;
}
.is_ftSize_18 {
  font-size: 18px !important;
  line-height: 18px !important;
}
.is_ftSize_19 {
  font-size: 19px !important;
  line-height: 19px !important;
}
.is_ftSize_20 {
  font-size: 20px !important;
  line-height: 20px !important;
}
.is_ftSize_21 {
  font-size: 21px !important;
  line-height: 21px !important;
}
.is_ftSize_22 {
  font-size: 22px !important;
  line-height: 22px !important;
}
.is_ftSize_23 {
  font-size: 23px !important;
  line-height: 23px !important;
}
.is_ftSize_24 {
  font-size: 24px !important;
  line-height: 24px !important;
}
.is_ftSize_25 {
  font-size: 25px !important;
  line-height: 25px !important;
}
.z-999 {
  z-index: 999 !important;
}
.none {
  display: none !important;
}
.md_disabled,
.md_disabled_none {
  pointer-events: none;
  background: #ccc;
  color: #5c5c5c !important;
  border: 1px solid #ccc !important;
}
.md_disabled_none {
  opacity: 0;
}
size 10px {
  line-height: 10px;
  height: 100%;
}
.l_width145_px {
  width: 145px !important;
}
.l_width100 {
  width: 100% !important;
}
.l_width95 {
  width: 95% !important;
}
.l_width90 {
  width: 90% !important;
}
.l_width85 {
  width: 85% !important;
}
.l_width80 {
  width: 80% !important;
}
.l_width75 {
  width: 75% !important;
}
.l_width70 {
  width: 70% !important;
}
.l_width65 {
  width: 65% !important;
}
.l_ac,
.wrap {
  margin: 0 auto;
  display: block;
}
.l_horizon,
.md_priceOff,
.l_areaPastSpace .md_priceArea {
  position: relative;
}
.l_horizon > *,
.md_priceOff > *,
.l_areaPastSpace .md_priceArea > * {
  float: left;
}
.l_horizon:after,
.md_priceOff:after,
.l_areaPastSpace .md_priceArea:after {
  display: block;
  clear: both;
  content: '';
}
.cf_content:after {
  display: block;
  clear: both;
  content: '';
}
.l_right {
  float: right !important;
}
.l_rightBottom {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.l_rightBottom_1up {
  position: absolute;
  bottom: 1px;
  right: 0px;
}
.l_left {
  float: left !important;
}
.l_leftBottm {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.l_floatNone {
  float: none !important;
}
.cf {
  clear: both;
}
body {
  font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
}
.md_btn {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-family: 'Oswald';
  display: block;
  border-radius: 2px;
  font-size: 12px !important;
  line-height: 12px !important;
  padding: 9px 12px 7px;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  box-sizing: border-box;
  width: 115px;
}
.md_btn:active,
.md_btn.is_actived {
  -webkit-transform: translate(0, 2px);
      -ms-transform: translate(0, 2px);
          transform: translate(0, 2px);
  padding: 7px 12px 9px;
}
.md_btn.is_blue {
  background: #0073b2;
  box-shadow: 0px 2px 0px #293f63;
}
.md_btn.is_blue:active {
  box-shadow: 0px -3px 0px #293f63;
}
.md_btn.is_orange {
  background: #ef9a35;
  box-shadow: 0px 2px 0px #ef8200;
}
.md_btn.is_orange:active {
  box-shadow: 0px -2px 0px #ef8200;
}
.md_btn.is_gray {
  background: #bbb;
  box-shadow: 0px 2px 0px #999;
}
.md_btn.is_gray:hover {
  background: #ccc;
  box-shadow: 0px 2px 0px #bbb;
}
.md_btn.is_gray:active,
.md_btn.is_gray.is_actived {
  background: #999;
  box-shadow: 0px -2px 0px #888;
}
.l_pastListSaleTicket {
  width: 730px;
  margin-bottom: 10px;
  background: #fff;
  position: relative;
  left: 10px;
}
.l_pastListSaleTicket .l_inner {
  padding: 15px 30px;
  font-size: 11px !important;
  line-height: 11px !important;
}
.l_pastListSaleTicket .l_inner > * {
  width: 155px;
  height: 258px;
  border: 1px #ccc solid;
  margin-left: 14px;
}
.l_pastListSaleTicket .l_inner > *:first-child {
  margin-left: 0px;
}
.l_pastListSaleTicket .l_inner > *:hover {
  background: #ffe3e9;
}
.l_pastListSaleTicket .l_inner a {
  text-decoration: none;
  height: 97%;
  overflow: hidden;
}
.md_capsuletTitle {
  text-align: left;
  width: 100%;
  font-size: 11px !important;
  line-height: 11px !important;
  line-height: 15px !important;
  font-size: 10px;
}
.md_capsuletTitle > div {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 5px;
  width: 100px;
  text-align: center;
}
.md_capsuletTitle.is_large > div {
  padding: 2px 5px;
  width: auto;
}
.md_capsuletTitle.is_small {
  width: 155px;
}
.md_capsuletTitle.is_small > div {
  padding: 0 15px;
  width: auto;
}
.md_capsuletTitle + span {
  font-size: 11px !important;
  line-height: 11px !important;
  line-height: 13px !important;
  padding: 4px 10px;
  color: #333;
  height: 12px;
  overflow: hidden;
  text-align: left;
  letter-spacing: -0.3px;
}
.md_capsuletTitle ~ .md_discription {
  clear: both;
  color: #333;
  padding: 0 10px;
  line-height: 18px;
  position: relative;
  text-align: left;
  word-wrap: break-word;
}
.md_capsuletTitle.is_capsule_colorPR {
  background-color: #5d5d5d;
}
.md_capsuletTitle.is_capsule_colorPR > div {
  background: #333;
}
.md_capsuletTitle.is_capsule_color1 {
  background-color: #ff3b61;
}
.md_capsuletTitle.is_capsule_color1 > div {
  background: #e5002c;
}
.md_capsuletTitle.is_capsule_color2 {
  background-color: #ffaa45;
}
.md_capsuletTitle.is_capsule_color2 > div {
  background: #ef8200;
}
.md_capsuletTitle.is_capsule_color8 {
  background-color: #22deff;
}
.md_capsuletTitle.is_capsule_color8 > div {
  background: #00aecc;
}
.md_capsuletTitle.is_capsule_color9 {
  background-color: #8519ee;
}
.md_capsuletTitle.is_capsule_color9 > div {
  background: #5a0ca6;
}
.md_capsuletTitle.is_capsule_color10 {
  background-color: #e54e87;
}
.md_capsuletTitle.is_capsule_color10 > div {
  background: #c21c5b;
}
.md_capsuletTitle.is_capsule_color12 {
  background-color: #f7c4d7;
}
.md_capsuletTitle.is_capsule_color12 > div {
  background: #ec7aa5;
}
.md_priceOff {
  display: block;
  width: 100%;
  height: 39px;
  margin: 10px 0 8px;
  background: url("../images/BG_PriceA.png") no-repeat -44px 0;
}
.md_priceOff.is_large,
.md_priceOff .is_rate {
  background: url("../images/BG_PriceA.png") no-repeat 0 0;
  background-size: 100% 97%;
}
.md_priceOff.is_rate > *:first-child {
  background: url("../images/BG_Desicount.png") no-repeat 0 0;
  background-size: 91%;
  text-shadow: 2px 2px 1px rgba(141,0,28,0.75);
  width: 55px;
  height: 39px;
  padding: 14px 0 0;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  line-height: 13px;
  position: absolute;
  top: -6px;
  left: -2px;
  font-weight: bold;
  font-size: 11px;
  line-height: 12px;
}
.md_priceOff.is_rate > *:first-child > *:first-child {
  font-size: 15px;
}
.md_priceOff.is_rate > *:first-child > *:nth-of-type(2) {
  position: relative;
  left: -2px;
}
.md_priceOff.is_rate .md_price {
  left: 52px;
}
.md_price {
  font-size: 18px;
  line-height: 39px;
  color: #fff;
  font-family: "Times New Roman", serif;
  position: relative;
  left: 8px;
}
.is_continuationTextOver:after {
  content: '...';
  position: absolute;
  right: 11px;
  top: 55px;
  background-color: #fff;
  width: 15px;
}
.is_continuationTextOver.background_white:after {
  background-color: #ffe3e9;
}
.font_A {
  font-family: "Helvetica Neue , Helvetica , Arial , Verdana";
}
.l_areaPastSpace {
  background-color: #fff;
  width: 730px;
  margin-bottom: 10px;
  background: #fff;
  padding: 15px 30px;
  box-sizing: border-box;
}
.l_areaPastSpace .l_inner.l_horizon {
  margin-top: 20px;
  position: relative;
}
.l_areaPastSpace .l_inner.l_horizon:first-child {
  margin-top: 0px;
}
.l_areaPastSpace .l_contentImg {
  display: block;
  margin-right: 15px;
}
.l_areaPastSpace .l_contentSpace {
  width: 455px;
  font-family: 'ヒラギノ角ゴ Pro W3';
  font-size: 12px;
}
.l_areaPastSpace .l_contentSpace > *:last-child {
  width: 455px;
  position: absolute;
  bottom: 0px;
}
.l_areaPastSpace .l_contentSpace .md_capsuletTitle + .l_horizon {
  padding: 10px 0;
}
.l_areaPastSpace .l_contentSpace .md_capsuletTitle + .l_horizon > span {
  line-height: 13px !important;
  color: #333;
  overflow: hidden;
  text-align: left;
  letter-spacing: -0.3px;
}
.l_areaPastSpace .l_contentSpace .md_capsuletTitle + .l_horizon > span:last-child {
  float: right;
}
.l_areaPastSpace .md_linkTitle {
  font-size: 13px !important;
  line-height: 13px !important;
  line-height: 14px !important;
  text-align: left;
  display: block;
  font-weight: bold;
  word-wrap: break-word;
  position: relative;
  clear: both;
  height: 28px;
  overflow: hidden;
}
.l_areaPastSpace .md_linkTitle .l_inner.is_continuationTextOver:after {
  top: 14px;
  right: 3px;
}
.l_areaPastSpace .md_priceArea {
  line-height: 14px !important;
  letter-spacing: -1px;
}
.l_areaPastSpace .md_priceArea p span {
  letter-spacing: -1px;
}
.arriveBalloon {
  z-index: 1;
}
#searchPastCoupons dd {
  padding: 15px 30px;
}
.mac .l_areaPastSpace .md_linkTitle .l_inner.is_continuationTextOver:after {
  right: -2px;
}
.ie1 .l_areaPastSpace .md_linkTitle .l_inner.is_continuationTextOver:after {
  right: 3px;
}
a img:hover {
  opacity: 0.7;
}
body {
  padding-top: 20px;
}
.wrap {
  width: 960px;
}
.l_commentSpace {
  text-align: left;
  background: #fff;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}
.l_commentSpace > div p {
  margin-bottom: 10px;
}
.l_commentSpace .md_afterWork {
  background: #bbbaea;
  padding: 0 10px;
  border-radius: 5px;
}
